@model IEnumerable<ASPNET_MVC_Template.Models.Customers>

@{
    ViewBag.Title = "ClientiPerPaese";
}

<h2>ClientiPerPaese</h2>

<form>
    <input type="text" name="paese" value="@ViewBag.Paese"/>
    @*@Html.DropDownList("paesi" , )*@
    <input type="submit" value="Filtra" />
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id Cliente</th>
            <th scope="col">Nome</th>
            <th scope="col">Citta</th>
            <th scope="col">Paese</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.CustomerID</td>
                <td>@item.CompanyName</td>
                <td>@item.City</td>
                <td>@item.Country</td>
            </tr>

        }
    </tbody>
</table>