@model IEnumerable<Customer>

@if(Model != null){
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id Cliente</th>
                <th scope="col">Nome</th>
                <th scope="col">Citta</th>
                <th scope="col">Paese</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.CustomerId</td>
                    <td>@item.CompanyName</td>
                    <td>@item.City</td>
                    <td>@item.Country</td>
                </tr>

            }
        </tbody>

        <br>
</table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.pageCount; i++)
                {

                    @if (i != ViewBag.CurrentPageIndex)
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:PagerClick(@i);">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item active">
                            <a class="page-link" href="javascript:PagerClick(@i);">@i</a>
                        </li>
                    }

                }
            </ul>
        </nav>    
}